<!doctype html>

<html>
  <head>
	<title>Select vehicle</title>
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<link href="/static/css/main.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
	<h1>Select Vehicle</h1>

	<div id="vehicle-select">
	  <a href="/race?trsp=1641539">1</a>
	  <a href="/race?trsp=613783">2</a>
	  <a href="/race?trsp=923199">3</a>
	  <a href="/race?trsp=891607">4</a>
	  <a href="/race?trsp=423028">5</a>
	  <a href="/race?trsp=1389072">6</a>
	  <a href="/race?trsp=1549258">7</a>
	  <a href="/race?trsp=365345">8</a>
	  <a href="/race?trsp=540350">9</a>
	  <a href="/race?trsp=812405">10</a>	
	  <a href="/race?trsp=669161">11</a>
	  <a href="/race?trsp=556607">13</a>
	</div>
	
  </body>
</html>
