<!doctype html>

<html>
  <head>
	<title>Race</title>

	<meta name="viewport" content="width=device-width,maximum-scale=1.0">
	
	<script type="text/javascript" src="/static/js/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="/static/js/socket.io.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript" src="/static/js/race.js"></script>
	
	<style>
	  h1 { text-align: center }
	</style>
  </head>
  
  <body>
	<h1>- -</h1>
	<h2>- -</h2>
  </body>
</html>
